[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
ipdb = "*"
alembic = "*"
click = "*"
simple-term-menu = "*"

[dev-packages]

[requires]
python_version = "3.9"
